{% extends "layout.html.twig" %}

{% block title %}Costituzione società | Home page{% endblock %}
{% block meta_desc %}Costituzione società{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {#

    <div class="jumbotron">
        <div class="container">
            <h1>Home page</h1>
        </div>
    </div>

    #}


    <div class="container">
        <h1>start<span>Silex</span></h1>
        is silex with:
        <ul style="text-align: left;">
            <li>Twig</li>
            <li>Doctrine DBAL</li>
            <li>Symfony Form</li>
            <li>Symfony Dependency Injection</li>
            <li>Symfony YAML Config</li>
            <li>Web Profiler</li>
            <li>Routes as controllers</li>
            <li>Class as services</li>
            <li>Monolog</li>
            <li>Entity Builder and Mappers</li>
            <li>Symfony Console</li>
            <li>PHPUnit ready (see tests/)</li>
            <li>CORS Ready</li>
        </ul>

        <h3>by <a href="http://evil0.github.io" target="_blank">{{ author }}</a></h3>
    </div>
{% endblock %}